PORT=3000
ACCESS_TOKEN_SECRET=b7761dba2e068daf4f88c80a5d76f3ba1ee53e492a3fa1ade3d09ddbc2d30a69e86de163a65a3573aed370c9d5141827
CLIENT_URL=http://localhost:5173
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
MERCHANT_SERVICE_URL=http://localhost:3003
WALLET_SERVICE_URL=http://localhost:3004
PAYMENT_SERVICE_URL=http://localhost:3005
NOTIFICATION_SERVICE_URL=http://localhost:3006
ADMIN_SERVICE_URL=http://localhost:3007
